li {
    list-style-type: none;
    display: inline;
    margin-right: 5px;
}

a {
    text-decoration: none;
}

.header {
    display: flex;
}

.header-text {
    margin: auto;
    font-size: 32px;
}

.flex {
    display: flex;
}

.single-image {
    padding-right: 8vw;
}

.flex-row {
    flex-direction: row;
    list-style: none;
    justify-items: center;
    margin: 0;
    padding: 0;
}

.image-row {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.image {
    margin: 12px;
    width: 30vw;
    height: auto;
}

.logo-image {
    max-height: 6vw;
    max-width: 6vw;
}

.bottom-line {
    border-bottom: 1px black solid;
}

.text {
    margin-left: 8vw;
    margin-right: 8vw;
    font-size: 24px;
}

.footer-text {
    margin-left: 8px;
}
