.header {
    display: flex;
}

.header-__header-text {
    margin: auto;
    font-size: 32px;
}

.section {
    margin: 0;
    padding: 0;
}

.section-__image-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}

.section-__image {
    margin: 2px;
    width: 30vw;
    height: auto;
}

.links-__logo-image {
    max-height: 6vw;
    max-width: 6vw;
}

.section-__text {
    margin-left: 8vw;
    margin-right: 8vw;
    font-size: 18px;
    max-width: 35vw;
}

.links-__list-item {
    list-style-type: none;
    display: inline;
    margin-right: 5px;
}

.links-__without-underline {
    text-decoration: none;
}

.footer-__text {
    margin-left: 8px;
}
