@keyframes rain-frames {
    from {
        background-position: 0 0;
    }
    to {
        background-position: 0 3300px;
    }
}

.rain {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    height: 100%;
    width: 100%;
    background-image: url(../../images/rain.webp);
    background-position: 0 0;
}

.rain__open {
    display: block;
}

.rain__button {
    margin-left: 1%;
    height: 50%;
    width: 8%;
    min-width: 100px;
    border-radius: 10%;
    font-size: large;
}

.rain__animation {
    animation: rain-frames 5s ease-in-out infinite;
}