.section__image {
    margin: 2px;
    width: 30vw;
    height: auto;
    border-radius: 5px;
    border: black 1px solid;
    transition: transform 0.4s;
}

.section__image:hover {
    transform: scale(1.05);
}
