.feedback-form__content {
    position: relative;
    background: white;
    padding: 70px;
    border-radius: 5px;
    width: 400px;
    color: black;
    transition: transform 0.3s;
    transform: scale(0.7);
    margin: auto;
}